venv/
.DS_Store
*~
*.pyc
__pycache__/
venv/
.DS_Store
*~
*.pyc
__pycache__/

#IGNORE ALL .ENV AND VENV
*.env
*.venv

#AMD PREDICTOR FILES TO BE IGNORED
4_AMD_StockPredictor_backup/models
4_AMD_StockPredictor_backup/.idea

